<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.deyuan.weather.dao.WeatherDao">


	<cache type="com.deyuan.weather.cache.RedisCache" /> 
	<select id="findJson"   resultType="String"  parameterType="String">
	
	
		select  citydata from t_weather where cityName= #{cityName,jdbcType=VARCHAR} limit 0,1 
		
		 <!-- 
		 select jsondata from t_weather limit 0,1
		  -->
	</select>
</mapper>
